@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");
body {
  font-family: 'Montserrat', sans-serif; }
  body::before {
    content: '';
    background-image: url(../img/bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 60vmax;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

.custom-nav .navbar-brand img {
  width: 25px;
  height: 25px;
  margin-top: -7px; }

.custom-nav .navbar-brand span {
  color: #F35CA3;
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 0.4em; }

.custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #F35CA3;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 2.4em;
  transition: 0.3 color ease; }
  .custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
    color: #aa0c56;
    text-decoration: underline; }

.custom-nav #navbarNav .navbar-nav .nav-item .sing-up-buttom {
  background-color: #F35CA3;
  color: white;
  border-radius: 2em;
  border: 0;
  padding-left: 1.5em;
  padding-right: 1.5em; }

@media screen and (max-width: 992px) {
  .custom-nav {
    margin-top: -1em; } }

.custom-section {
  margin-top: 10em;
  position: relative; }
  .custom-section h2 {
    font-weight: 700;
    font-size: 4rem;
    color: #F35CA3;
    white-space: nowrap;
    line-height: 1; }
  .custom-section h3 {
    font-weight: 400;
    font-size: 3rem;
    color: #AABDE6;
    white-space: nowrap;
    line-height: 1; }
  .custom-section p {
    color: #393c43;
    font-size: 1.1rem;
    margin-top: 2em; }
  .custom-section a {
    display: inline-block;
    color: white;
    background-color: #F35CA3;
    border-radius: 2em;
    padding: 0.5em 2em;
    text-decoration: none; }
