@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');

$primaryColor: #F35CA3;
$secondaryColor: #AABDE6;
$tertiaryColor: #C5ABDC;
$textColor: #393c43;


body {
    font-family: 'Montserrat', sans-serif;   
    &::before {
        content:'';
        background-image: url(../img/bg.png);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 60vmax;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

}

.custom-nav {
    .navbar-brand {
        img {
            width: 25px;
            height: 25px;
            margin-top: -7px;
        }
        span {
            color: $primaryColor;
            font-weight: 700;
            font-size: 1.4rem;
            margin-left: 0.4em;            
        }
    }
    #navbarNav {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $primaryColor;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-left: 2.4em;
                    transition: 0.3 color ease;

                    &:hover {
                        color: darken($primaryColor, 30%);
                        text-decoration: underline;
                    }
                }
                .sing-up-buttom {
                    background-color: $primaryColor;
                    color: white;
                    border-radius: 2em;
                    border: 0;
                    padding-left: 1.5em;
                    padding-right: 1.5em;
                }
            }
        }
    }
    @media screen and (max-width: 992px){
        margin-top: -1em;        
    }
}

.custom-section {
    margin-top: 10em;
    position: relative;
    h2 {
        font-weight: 700;
        font-size: 4rem;
        color: $primaryColor;
        white-space: nowrap;
        line-height: 1;
    }

    h3 {
        font-weight: 400;
        font-size: 3rem;
        color: $secondaryColor;
        white-space: nowrap;
        line-height: 1;
    }

    p {
        color: $textColor;
        font-size: 1.1rem;
        margin-top: 2em;
    }
    a {
        display: inline-block;
        color: white;
        background-color: $primaryColor;
        border-radius: 2em;
        padding: 0.5em 2em;
        text-decoration: none;
    }
}